FinalProject/Binaries
FinalProject/DerivedDataCache
FinalProject/Intermediate
FinalProject/Saved
FinalProject/.vsconfig
FinalProject/FinalProject.sln
FinalProject/Content/StarterContent
FinalProject/Build
.vs
